menuentry "Iniciar sistema de recuperación (Restauración de fábrica)" --class recovery --class gnu-linux --class gnu --class os {OPENBRACKET}
	{savedefault}insmod part_gpt
	insmod ext2
	set root='(/dev/sda,{gpt})'
	search --no-floppy --fs-uuid --set=root {uuid}
	linux {kernel} {kparams}
	initrd {initrd}
{CLOSEBRACKET}
